:root{
  --primary-color: #62b5f0;
  --secondary-color:#cfd5f8;
  --box-shadow:  0 5px 10px rgba(31, 30, 30, 0.3);

}
body {
  margin: 0;
  height: 100vh;
  background-image: url("file:///C:/Users/iaros/Desktop/ai-mediterranean-cuisine-generator/images/Mediterranean-food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #385c56;
}
.container {
  margin: 30px auto;
  max-width: 1000px;
  overflow-wrap: break-word;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  font-size: 38px;
  color: rgb(236, 227, 127);
}
.form-container {
  background-color: rgba(154, 197, 231, 0.539);
  padding: 15px 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 77, 0.04);
  border-radius: 18px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.8;
}
.instructions {
  padding: 10px;
  border: 1px solid rgba(44, 66, 12, 10);
  width: 80%;
  font-size: 14px;
  border-radius: 50px;
  line-height: 22px;
  color: #273d3c;
}
.submit-btn {
  margin-left: 10px;
  background: #afe17a;
  color: rgb(68, 92, 113);
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 16px 22px;
}
.recipe {
  font-size: 18px;
  background-color: #79e8aa;
  padding: 15px;
  line-height: 24px;
  border-right: 3px solid #36f7ba;
  box-shadow: 0px 4px 20px 0px rgba(44, 19, 94, 0);
}
.hidden {
  display: none;
}
recipe strong {
  color: #895df3;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
.recipe strong {
  color: rgba(57, 30, 71, 0.333);
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
